body { 
       background: yellow;   
       text-align: center;
}

h2{
      color: white;
      font-size: 100px;
      -webkit-animation:colorchange 100s infinite alternate;
}


@-webkit-keyframes colorchange {
   0% {
      color: pink;

    }
   10% {
      color: blue;
    }
   20% {
      color: white;
   }
    
   
}


table{
        margin:auto;
        border: 40px solid green;
        padding: 50px;
        margin-bottom: 50px;
}


</style>
</head>
<body>
